body {
    background: #1D8B77;
}
.kanban-boards {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    .board {
        font-family: sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column {
        width: 32%;
        height: 100%;
        padding: 10px 15px;
        border-radius: 5px;
        background: #D4D4D4;
        color: #212934;
        .column--title {
            font-size: 18px;
            margin-bottom: 10px;
            color: #404B5A;
        }
    }
}

.card {
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    cursor: move;
    font-size: 15px;
    line-height: 18px;
    color: #212934;
    &.empty {
        color: gray;
        background: gray;
    }
}

.new-card-form {
    .form--div {
        width: 100%;
        border: none;
        padding: 5px;
        margin-bottom: 5px;
        opacity: 0.7;
        font-size: 15px;
        line-height: 18px;
        color: #626262;
        height: 32px;
        background: #d4d4d4;
        border-radius: 3px;
        display: flex;
        span {
            font-size: 25px;
            margin-right: 10px;
            margin-left: 5px;
        }
    }

    .form--input {
        width: 100%;
        font-size: 15px;
        border-radius: 3px;
        border: none;
        padding: 5px;
        margin-bottom: 5px;
    }

    .form--input:focus {
        outline: none;
        border: none;
    }
    .form--footer {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #626262;
        align-items: center;
      cursor: pointer;
    }
}


.item--card {
    .ant-input {
        max-width: 95%;
    }
    .ant-modal-footer {
        text-align: left;
        border: none;
    }
    .ant-modal-header {
        border: none;
    }
    .modal--title-input {
        font-size: 18px;
        font-weight: bold;
    }
    .modal--title {
        width: 95%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
        .edit-icon {
            cursor: pointer;
            color: #1890ff;
            width: 30px;
            text-align: center;
        }
    }

    .custom-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}